#loginButton {
  width: 150px;
  background-color: darkgreen;
  border: #00b100;
  transition: 0.5s;
  margin-top: 5px;
}
#loginButton:hover {
  width: 150px;
  background-color: #009a00;
  border: #00e600;
  transition: 0.5s;
  border-radius: 25px;
}
#logoutButton {
  width: 150px;
  background-color: darkred;
  border: #d70000;
  transition: 0.5s;
  height: 25px;
  padding: 0px;
  color: white;
}
#logoutButton:hover {
  width: 150px;
  background-color: #a40000;
  border: #f10000;
  transition: 0.5s;
  border-radius: 25px;
}
#registerButton {
  width: 150px;
  background-color: darkblue;
  border: #0000d7;
  transition: 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}
#registerButton:hover {
  width: 150px;
  background-color: #1a1aff;
  border: #6666ff;
  transition: 0.5s;
  border-radius: 25px;
}
#backToMenuButton {
  width: 150px;
  background-color: darkgreen;
  border: #00b100;
  transition: 0.5s;
  height: 25px;
  padding: 0px;
  color: white;
}
#backToMenuButton:hover {
  width: 150px;
  background-color: #007e00;
  border: #00ca00;
  transition: 0.5s;
  border-radius: 25px;
}
/* ADMIN BUTTONS */
.adminButtons {
  width: 170px;
  height: 75px;
  font-size: 16px;
  text-shadow: 1px 1px #262626;
  margin-top: 15px;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transition: 0.2s;
  z-index: 0;
}
.adminButtons:hover {
  text-shadow: 1px 1px #808080;
  border-radius: 15px;
  transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  -moz-transform: scale(1.15, 1.15);
  transition: 0.2s;
  z-index: 1;
}
.adminButtonsGroup {
  background-color: silver;
  width: 570px;
  margin: 0px auto;
  border: 1px solid gray;
  border-radius: 15px;
}
#accounts {
  background: darkred;
  background: -webkit-linear-gradient(darkred, #d70000);
  background: -o-linear-gradient(darkred, #d70000);
  background: -moz-linear-gradient(darkred, #d70000);
  background: linear-gradient(darkred, #d70000);
  color: white;
  font-weight: bold;
}
#attendances {
  background: darkgreen;
  background: -webkit-linear-gradient(darkgreen, #00b100);
  background: -o-linear-gradient(darkgreen, #00b100);
  background: -moz-linear-gradient(darkgreen, #00b100);
  background: linear-gradient(darkgreen, #00b100);
  color: white;
  font-weight: bold;
}
#roles {
  background: darkblue;
  background: -webkit-linear-gradient(darkblue, #0000d7);
  background: -o-linear-gradient(darkblue, #0000d7);
  background: -moz-linear-gradient(darkblue, #0000d7);
  background: linear-gradient(darkblue, #0000d7);
  color: white;
  font-weight: bold;
}
#snapshots {
  background: darkorchid;
  background: -webkit-linear-gradient(darkorchid, #b86fdc);
  background: -o-linear-gradient(darkorchid, #b86fdc);
  background: -moz-linear-gradient(darkorchid, #b86fdc);
  background: linear-gradient(darkorchid, #b86fdc);
  color: white;
  font-weight: bold;
}
#textFiles {
  background: chocolate;
  background: -webkit-linear-gradient(chocolate, #e79256);
  background: -o-linear-gradient(chocolate, #e79256);
  background: -moz-linear-gradient(chocolate, #e79256);
  background: linear-gradient(chocolate, #e79256);
  color: white;
  font-weight: bold;
}
#workgroups {
  background: darkslategray;
  background: -webkit-linear-gradient(darkslategray, #4c7f7f);
  background: -o-linear-gradient(darkslategray, #4c7f7f);
  background: -moz-linear-gradient(darkslategray, #4c7f7f);
  background: linear-gradient(darkslategray, #4c7f7f);
  color: white;
  font-weight: bold;
}
#accounts:hover {
  background: tomato;
  background: -webkit-linear-gradient(tomato, #ffa494);
  background: -o-linear-gradient(tomato, #ffa494);
  background: -moz-linear-gradient(tomato, #ffa494);
  background: linear-gradient(tomato, #ffa494);
  color: black;
  font-weight: bold;
}
#attendances:hover {
  background: lightgreen;
  background: -webkit-linear-gradient(lightgreen, #d2f8d2);
  background: -o-linear-gradient(lightgreen, #d2f8d2);
  background: -moz-linear-gradient(lightgreen, #d2f8d2);
  background: linear-gradient(lightgreen, #d2f8d2);
  color: black;
  font-weight: bold;
}
#roles:hover {
  background: lightblue;
  background: -webkit-linear-gradient(lightblue, #e8f4f8);
  background: -o-linear-gradient(lightblue, #e8f4f8);
  background: -moz-linear-gradient(lightblue, #e8f4f8);
  background: linear-gradient(lightblue, #e8f4f8);
  color: black;
  font-weight: bold;
}
#snapshots:hover {
  background: orchid;
  background: -webkit-linear-gradient(orchid, #eaade7);
  background: -o-linear-gradient(orchid, #eaade7);
  background: -moz-linear-gradient(orchid, #eaade7);
  background: linear-gradient(orchid, #eaade7);
  color: black;
  font-weight: bold;
}
#textFiles:hover {
  background: coral;
  background: -webkit-linear-gradient(coral, #ffb79d);
  background: -o-linear-gradient(coral, #ffb79d);
  background: -moz-linear-gradient(coral, #ffb79d);
  background: linear-gradient(coral, #ffb79d);
  color: black;
  font-weight: bold;
}
#workgroups:hover {
  background: slategray;
  background: -webkit-linear-gradient(slategray, #9ba6b1);
  background: -o-linear-gradient(slategray, #9ba6b1);
  background: -moz-linear-gradient(slategray, #9ba6b1);
  background: linear-gradient(slategray, #9ba6b1);
  color: black;
  font-weight: bold;
}
#userButton01,
#userButton02,
#userButton03,
#userButton04,
#userButton05,
#userButton06,
#userButton07 {
  width: 250px;
  margin-bottom: 10px;
  transition: 0.5s;
  line-height: 25px;
}
#userButton01 {
  background-color: darkgreen;
  border: 1px solid green;
  color: whitesmoke;
  box-shadow: 2.5px 2.5px 10px 1px black;
}
#userButton02 {
  background-color: darkblue;
  border: 1px solid blue;
  color: whitesmoke;
  box-shadow: 2.5px 2.5px 10px 1px black;
}
#userButton03 {
  background-color: darkred;
  border: 1px solid red;
  color: whitesmoke;
  box-shadow: 2.5px 2.5px 10px 1px black;
}
#userButton04 {
  background-color: darkgoldenrod;
  border: 1px solid goldenrod;
  color: whitesmoke;
  box-shadow: 2.5px 2.5px 10px 1px black;
}
#userButton05 {
  background-color: black;
  border: 1px solid gray;
  color: whitesmoke;
  box-shadow: 2.5px 2.5px 10px 1px black;
}
#userButton06 {
  background-color: darkcyan;
  border: 1px solid cyan;
  color: whitesmoke;
  box-shadow: 2.5px 2.5px 10px 1px black;
}
#userButton07 {
  background-color: darkmagenta;
  border: 1px solid magenta;
  color: whitesmoke;
  box-shadow: 2.5px 2.5px 10px 1px black;
}
#userButton01:hover {
  background-color: whitesmoke;
  border: 1px solid darkgreen;
  color: darkgreen;
  box-shadow: 2.5px 2.5px 10px 1px green;
}
#userButton02:hover {
  background-color: whitesmoke;
  border: 1px solid darkblue;
  color: darkblue;
  box-shadow: 2.5px 2.5px 10px 1px blue;
}
#userButton03:hover {
  background-color: whitesmoke;
  border: 1px solid darkred;
  color: darkred;
  box-shadow: 2.5px 2.5px 10px 1px red;
}
#userButton04:hover {
  background-color: whitesmoke;
  border: 1px solid darkgoldenrod;
  color: darkgoldenrod;
  box-shadow: 2.5px 2.5px 10px 1px goldenrod;
}
#userButton05:hover {
  background-color: whitesmoke;
  border: 1px solid black;
  color: black;
  box-shadow: 2.5px 2.5px 10px 1px gray;
}
#userButton06:hover {
  background-color: whitesmoke;
  border: 1px solid darkcyan;
  color: darkcyan;
  box-shadow: 2.5px 2.5px 10px 1px cyan;
}
#userButton07:hover {
  background-color: whitesmoke;
  border: 1px solid darkmagenta;
  color: darkmagenta;
  box-shadow: 2.5px 2.5px 10px 1px magenta;
}
.wrapper {
  width: 170px;
  height: 75px;
  display: inline-block;
}
.wrapper .text {
  position: relative;
  bottom: 25px;
  left: 0px;
  visibility: hidden;
  z-index: 0;
}
.wrapper:hover .text {
  visibility: visible;
  z-index: 1;
}
#previousPage,
#nextPage {
  transition: 1s;
}
#previousPage:hover,
#nextPage:hover {
  background-color: darkgreen;
  border-color: green;
  transition: 1s;
}
#previousPage:disabled,
#nextPage:disabled {
  background-color: silver;
  border-color: gray;
}
