#editorForFileContentInfo {
  background-color: darkgreen;
  color: white;
  text-indent: 15px;
  border-radius: 15px;
}
#authorName,
#fileName {
  font-weight: bold;
}
#currentMode {
  color: gray;
}
#currentMode:hover {
  color: darkgreen;
}
#mode {
  background-color: black;
  color: white;
  width: 150px;
  height: 30px;
  border-bottom-left-radius: 10px;
}
.editorSpace {
  margin-top: -10px;
  padding-left: 25px;
  width: 100%;
}
