@import url("authorization.css");
@import url("buttons.css");
@import url("tables.css");
@import url("chat.css");
body {
  width: 100vh;
}
#logo {
  color: silver;
  text-decoration: none;
  transition: 1s;
}
#logo:hover {
  color: green;
  transition: 1s;
}
.glyphicon-globe {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 2.5px;
}
.glyphicon-pencil:hover,
.glyphicon-remove:hover {
  color: red;
  transition: 0.2s;
}
.glyphicon-sunglasses {
  margin: 0px 60px;
}
#adminPanel {
  background-color: #dcdcdc;
  width: 425px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  border-radius: 10px;
}
#adminPanel a {
  color: dimgray;
}
#adminPanel a:hover {
  color: black;
}
header,
footer {
  background-color: black;
  color: white;
  height: 50px;
  line-height: 50px;
  position: fixed;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px #333333;
  font-size: 16px;
}
header,
main,
footer {
  margin-left: auto;
  margin-right: auto;
}
header {
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#helloUser {
  background-color: lightgreen;
  color: darkgreen;
  padding: 5px;
  text-align: center;
}
main {
  position: fixed;
  top: 50px;
  left: 25px;
  right: 25px;
  bottom: 50px;
}
#indexMain {
  overflow-y: scroll;
  width: 100%;
}
#mode {
  background-color: black;
  color: white;
  width: 150px;
  height: 30px;
  border-bottom-left-radius: 10px;
}
footer {
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.license {
  font-size: 12px;
}
.licenseText {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-indent: 30px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.centeredText {
  text-align: center;
}
.bold {
  font-weight: bold;
}
