@import url("admin.css");
@import url("authorization.css");
@import url("buttons.css");
@import url("chat.css");
@import url("editor.css");
@import url("tables.css");
@import url("userProfile.css");
body {
  width: 100vh;
  background-image: url("../images/subtlepatterns/notebook_@2X.png");
}
#logo {
  color: silver;
  text-decoration: none;
  transition: 1s;
}
#logo:hover {
  color: green;
  transition: 1s;
}
.glyphicon-globe {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 2.5px;
}
.glyphicon-pencil:hover,
.glyphicon-remove:hover {
  color: red;
  transition: 0.2s;
}
.glyphicon-sunglasses {
  margin: 0px 60px;
}
header,
footer {
  background-color: black;
  background-image: url("../images/subtlepatterns/tweed_@2X.png");
  color: white;
  height: 50px;
  line-height: 50px;
  position: fixed;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px #333333;
  font-size: 16px;
}
header,
main,
footer {
  margin-left: auto;
  margin-right: auto;
}
header {
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#navigate {
  background-color: darkolivegreen;
  color: whitesmoke;
  font-weight: bold;
  border: 2px inset #2b3618;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
h3 {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid darkred;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 2px 2px #b3b3b3;
  margin-left: 50px;
  margin-right: 50px;
}
#helloUser {
  background-color: darkgreen;
  background-image: url("../images/subtlepatterns/pool_table.png");
  color: lightgreen;
  padding: 5px;
  text-align: center;
  margin-top: -10px;
  line-height: 25px;
}
#helloGuest {
  background-color: darkred;
  background-image: url("../images/subtlepatterns/elastoplast.png");
  color: red;
  padding: 5px;
  text-align: center;
  margin-top: 25px;
}
main {
  position: fixed;
  top: 75px;
  bottom: 50px;
  overflow-y: scroll;
  width: 100%;
  z-index: -1;
}
#loggedUserMenu {
  background-color: rgba(0, 0, 0, 0.25);
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 25px;
  border-radius: 15px;
}
#loggedUserMenuInfo {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 5px;
  color: white;
}
#loggedUserMenuInfo a {
  color: #0b0bff;
  font-weight: bold;
}
#indexMain {
  overflow-y: scroll;
  width: 100%;
}
footer {
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#backLink {
  font-size: 14px;
}
.license {
  font-size: 12px;
}
.licenseText {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-indent: 30px;
}
.glyphiconGood {
  color: green;
}
.glyphiconBad {
  color: red;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.centeredText {
  text-align: center;
}
.bold {
  font-weight: bold;
}
