// out: main.css

@import url("authorization.css");
@import url("buttons.css");
@import url("tables.css");
@import url("chat.css");

@width: 500px;
@editorBorder: 2px inset green;
@editorBorderRadius: 25px;
@headFootLine: 50px;
@editorHeight: 350px;

body {
  width: 100vh;
}

header, footer {
  background-color: black;
  color: white;
  height: @headFootLine;
  line-height: @headFootLine;
  position: fixed;
  width: 100%;
  text-align: center;
}

header, main, footer {
  .center;
}

header {
  top: @headFootLine / 2;
  left: 50%;
  transform: translate(-50%, -50%);
}

#helloUser {
  background-color: lightgreen;
  color: darkgreen;
  padding: 5px;
  .centeredText;
}

main {
  position: fixed;
  top: @headFootLine;
  left: 25px;
  right: 25px;
  bottom: @headFootLine;
}

#indexMain {
  overflow-y: scroll;
  width: 100%;
}

footer {
  bottom: -@headFootLine / 2;
  left: 50%;
  transform: translate(-50%, -50%);
}

#underRow {
  width: @width;
  .center;
  transform: translateX(-15px);
}

#languages {
  background-color: black;
  color: white;
  .size(150px, 35px);
  border: 3px solid silver;
  border-top-right-radius: 20px;
}

.mainEditor {
  .min-size(100%, @editorHeight);
  .max-size(100%, @editorHeight);
  border: @editorBorder;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.centeredText {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.size(@width, @height){
  width: @width;
  height: @height;
}

.min-size(@width, @height){
  min-width: @width;
  min-height: @height;
}

.max-size(@width, @height){
  max-width: @width;
  max-height: @height;
}
