// out: tables.css

#adminTable {
  border-collapse: collapse;
  width: 700px;
  margin: 0 auto;

  tr:first-child {
    background-color: whitesmoke;
    color: darken(darkgray, 25%);
  }

  tr:not(:first-child):hover {
    background-color: lightgreen;
    color: darkgreen;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
}

#registerTable {
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  text-align: left;

  .credentials {
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
