#userProfile {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 15px 10px 10px 10px;
  width: 550px;
  margin: 0 auto;
}
#nickname {
  font-size: 24px;
  font-weight: bold;
  float: left;
  line-height: 40px;
}
#editProfileButton {
  float: right;
  line-height: 20px;
}
#aboutMe {
  margin-top: 40px;
  background-color: whitesmoke;
}
#aboutMe h4 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  background-color: silver;
}
#aboutMe h4:not(:first-child) {
  padding-top: 5px;
}
#userProfileTable {
  width: 100%;
  text-align: left;
  text-indent: 25px;
}
#userProfileTable tr td:first-child {
  font-weight: bold;
}
#userProfileTable tr:hover {
  background-color: gray;
  color: whitesmoke;
}
#description {
  padding-bottom: 5px;
}
.blank {
  color: #8d8d8d;
}
