#userProfile {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 15px 10px 10px 10px;
  width: 550px;
  margin: 0 auto;
}
#nickname {
  font-size: 24px;
  font-weight: bold;
  float: left;
  line-height: 40px;
}
#editProfileButton {
  float: right;
  line-height: 20px;
}
#aboutMe {
  margin-top: 40px;
  background-color: whitesmoke;
}
#aboutMe h4 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  background-color: silver;
}
#aboutMe h4:not(:first-child) {
  padding-top: 5px;
}
#userProfileTable {
  width: 100%;
  text-align: left;
  text-indent: 25px;
}
#userProfileTable tr td:first-child {
  font-weight: bold;
}
#userProfileTable tr:hover {
  background-color: gray;
  color: whitesmoke;
}
#description {
  padding-bottom: 5px;
}
.blank {
  color: #8d8d8d;
}
#tooltip {
  position: relative;
  display: inline-block;
  border: 1px solid darkred;
  border-radius: 5px;
}
#tooltip #tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #580000;
  color: whitesmoke;
  border: 3px outset darkgreen;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -125%;
  right: 100%;
  margin-right: -475px;
  text-align: justify;
  opacity: 0;
  transition: opacity 1s;
}
#tooltip #tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #580000 transparent transparent;
}
#tooltip:hover #tooltiptext {
  visibility: visible;
  opacity: 1;
}
