#userProfile {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 15px 10px 10px 10px;
  width: 500px;
  margin: 0 auto;
}
#profilePhoto {
  font-size: 30px;
  border: 1px solid gray;
  padding: 5px 0px 0px 5px;
  background-color: silver;
  color: dimgray;
  border-radius: 5px;
}
#nickname {
  margin-left: 25px;
  font-size: 24px;
  font-weight: bold;
}
#editProfileButton {
  margin-left: 100px;
}
#aboutMe {
  background-color: whitesmoke;
}
#aboutMe h4 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  background-color: silver;
}
#aboutMe h4:not(:first-child) {
  padding-top: 5px;
}
#userProfileTable {
  width: 100%;
  text-align: left;
  text-indent: 25px;
}
#userProfileTable tr td:first-child {
  font-weight: bold;
}
#userProfileTable tr:hover {
  background-color: gray;
  color: whitesmoke;
}
#description {
  padding-bottom: 5px;
}
.blank {
  color: #8d8d8d;
}
